#textBox {
  width: 400px;
  height: 200px;
  background-color: aquamarine;
  text-align: center;
  line-height: 200px;
}

#timeBox {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 400px;
  background-color: aquamarine;
  width: 400px;
  height: 300px;
  text-align: center;
  line-height: 300px;
  font-size: 60px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#timeBtn {
  font-size: 20px;
  margin-top: 20px;
  width: 150px;
  height: 100px;
  background-color: rgba(2, 2, 2, 0.5);
}

.photoGal {
  display: flex;
  align-items: center;
}

#imgArr {
  display: flex;
  align-items: center;
}

img {
  padding: 10px;
  opacity: 1;
  transition: opacity 2s ease;
}

@keyframes appear {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}
