
h1{
    text-align: center;
    margin-top: 40px;
}


img{
    width: 400px;
}

#imagesDiv{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

#counter{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    padding-left: 170px;
    padding-right: 170px;
}

#score{
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
}