*{
    box-sizing: border-box;
}

#ShoppingSummary{
    display: block;
    width: 65%;
}

#Itemscontainer{
    display: flex;
}

#totalPrice{
    width: 30%;
    background-color: #fff;
    height: 30rem;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px; 
}


.content{
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    display: flex;
    background-color: #fff;
    width: 95%;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px; 
    transition: 0.7s ease;
    
    /* justify-content: space-between; */
}   


.image{
    padding-right: 1rem;
}

/* .info{
    text-align: center;
} */

.info h3{
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.qty{
    /*display: block;*/
    text-align: start;
}

.addtocardbtn{
    position: relative;
    height: 2rem;
    margin-top: 18rem;
    
}

.btnVerticalCenter{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn-add{
    height: 2rem;
    width: 15rem;
    background-color: green;
    color: #fff;
    font-weight: 800;
    border-radius: 5px;
}

.btn-add:hover{
    background-image: linear-gradient(green, lightgreen);
}

.deleteButton{
    color: red;
    cursor: pointer;

}