*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.photoGal{
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    margin-top: 100px;
}

.photoGal button{
    width: 60px;
    height:40px;
    border-radius: 10px;
    background-color: aquamarine;
    padding: 10px;
}

.photoGal button:hover{
    cursor: pointer;
    background-color: aqua;
}


#imgArr{
    display: flex;
    align-items: center;
}

img{
    padding: 10px;
}

.control{
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}

.control button{
    width: 60px;
    height:40px;
    border-radius: 10px;
    background-color: aquamarine;
    padding: 10px;
}

.control button:hover{
    cursor: pointer;
    background-color: aqua;
}